var jira = {
    host: 'atlassian.net',
    tasks_url: "/rest/api/2/search?jql=assignee in () and updatedDate > '__DATETIME__'",
    sprint_url: "/rest/api/2/search?jql=assignee in (EMPTY) AND sprint in openSprints() AND sprint = ",
    login: 'fixme',
    password: 'fixme'
}

module.exports = jira;